<h3> Editing Student</h3>
{{# if success}}
    <section class="success">
        <h2>Success! :)</h2>
    </section>
{{ else }}
    {{# if errors}}
     <section class="text-danger">
        <ul>
            {{# each errors}}
                <li>{{ this.msg }}</li>
            {{/each}}
        </ul>
    </section>
    {{/if}}
<form action="/{{student._id}}" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{student._id}}">
    <div class="form-group">
        <label>Student Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{student.studentname}}">
       
    </div>
    <div class="form-group">
        <label>Student Percent</label>
        <input type="text" class="form-control" name="percent" placeholder="percent" value="{{student.studentpercent}}">
        
    </div>
   
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
    </div>
</form>
{{/if}}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Percent</th>
            <th>Letter Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.studentname}}</td>
            <td>{{this.studentpercent}}</td>
            <td>{{this.studentlettergrade}}</td>
            <td>
                <a href="/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>